.key {
    min-width: 3.2rem;
    height: 4rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #FCF4D9;
    color: #432160;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

.key:disabled {
    cursor: default;
    opacity: 0.4;
}

.deleteKey {
    background-color: #432160;
    border: 1px solid #FCF4D9;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.enterKey {
    background-color: #5AC8FA;
    color: #432160;
    font-size: 1.2rem;
    font-weight: 700;
}

.wideKey {
    min-width: 4rem;
}

.correct {
    background-color: #50E3C2;
    color: white;
}

.almost {
    background-color: #FF7A5A;
    color: white;
}

.notInWord {
    background-color: #432160;
    color: #FCF4D9;
}