.wordContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
}

.letterContainer {
    font-size: 2.5rem;
    border: 1px solid #FCF4D9;
    border-radius: 4px;
    padding: 0.3rem;
    width: 3rem;
    height: 3rem;
    flex-grow: 1;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}